body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  .container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e90ff, #00aaff);
  }
  .signup-section {
    background-color: white; /* Fundo branco */
  padding: 40px; /* Espaçamento interno maior */
  border-radius: 15px; /* Bordas arredondadas para efeito de janela */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra para simular profundidade */
  max-width: 400px; /* Limita a largura da janela de login */
  width: 100%; /* Faz com que a janela ocupe toda a largura disponível */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black; /* Texto preto para contraste */
  }
  .signup-box {
    width: 100%; /* Garante que o conteúdo do login ocupe toda a largura da janela */
  text-align: center;
  }
  .signup-box img {
    width: 300px;
    height: 300px;
  }
  .signup-box h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .signup-box input {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    font-size: 14px;
  }

  .signup-box input[type="text"],
  .signup-box input[type="email"],
  .signup-box input[type="password"] {
    background-color: #fff;
    color: #333;
    border: 1px solid black;
  }

  .signup-box input[type="text"]:focus,
  .signup-box input[type="email"]:focus,
  .signup-box input[type="password"]:focus {
    border: none;
    outline: 1px solid #00aaff;
    transform: scale(1.05);
  }

  .signup-box button {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background-color: #00cc88;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  .signup-box button:hover {
    background-color: #00aa77;
  }
  /* Botão Voltar no canto superior esquerdo */
  .back-button {
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #ff6347;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
  }
  .back-button:hover {
    background-color: #e5533d;
  }